<div class="popup" id="popup-confirm-delete" style="display:none;">
  <div class="popup-glass">
    <div class="popup-header-gradient">
      <span class="popup-header-gallery">Увага</span>
    </div>
    <div class="popup-avatar-diamond">
      <span id="contact-avatar-letter">!</span>
    </div>
    <h3>Видалити контакт?</h3>
    <p>Ви впевнені, що хочете видалити цей контакт?</p>
    <div class="popup-actions">
      <button id="btn-confirm-delete">Видалити</button>
      <button type="button" onclick="closePopup('popup-confirm-delete')">Скасувати</button>
    </div>
  </div>
</div>
